%p.description= @template.description
= fields_for :voucher do |fv|
  = fv.fields_for :add_row do |f|
    - if @template.has_arrangements?(@activity_year)
      %p.input
        = f.label "Arrangemang", :required=>false
        = f.select :template_arrangement, options_from_collection_for_select(@organ.arrangements,:id, :list_print),{}, :class=>"arr_select"
      .clear

    - @template.input_fields.each do |field|
      %p.input
        = f.label field.name
        = f.text_field field.script_name, :class => :template_input, :script_name => field.script_name
        %span.hint= field.description

    .clear

    = f.submit "Lägg till rader", :id=>"template_add_button"
