= simple_form_for @user do |f|
  %dl
    %dt= f.label :has_access
    %dd= f.check_box :has_access
    %dt= f.label :admin
    %dd= f.check_box :admin
    %dt= f.label :email
    %dd= f.text_field :email
    %dt= f.label :initials
    %dd= f.text_field :initials
    %dt= f.association :default_series

  .clear

  %fieldset
    %legend=t('rights')
    %table
      %thead
        %tr
          %th Serie
          %th= t 'delete_access'
      %tbody
        = f.simple_fields_for :accesses do |fa|
          %tr
            %td= fa.object.series
            %td=fa.input :_destroy, :as=>:boolean, :label=>false  #('delete_access'),{}, {:class=>"delete_link"}

    %hr
    = f.simple_fields_for :add_right do |ar|
      %p
        %strong= t('add_right')
        = ar.input :series , :collection=>(Series.all-@user.accesses.map {|a| a.series })


  .actions
    = f.submit

