%h3= @user

%dl
  %dt Har åtkomst?
  %dd= @user.has_access? ? "Ja" : "Nej"
  %dt Är admin?
  %dd= @user.admin? ? "Ja" : "Nej"
  %dt Email
  %dd= auto_link(@user.email).html_safe
  %dt Initialer
  %dd= @user.initials

%hr

%h4= t('rights')

%table
  %thead
    %tr
      %th Serie
      %th= t 'granted_by'
      %th= t 'write_access'
  %tbody
    - @user.accesses.each do |a|
      %tr
        %td= a.serie
        %td= a.granted_by
        %td= yes_no(a.write_access)

%p= link_to "Redigera", edit_user_path(@user)
