%h2 Verksamhetsår

%p
  %h4 Nytt verksamhetsår

  =simple_form_for @activity_year do |f|
    = f.input :year
    = f.simple_fields_for :accounts do |fe|
      = fe.input :clone , :collection=>ActivityYear.all, :prompt=>t('activity_years.empty_accounts'), :label=>t('activity_years.copy_accounts')

    .clear

    .actions
      = f.submit

%hr

%h4 Befintliga verksamhetsår

%p Klicka på ett år för att hantera kontoplanen

%table.datatable
  %thead
    %th Verksamhetsår
  %tbody
    - @activity_years.each do |activity_year|
      %tr
        %td= link_to activity_year.to_s, activity_year_accounts_path(activity_year)
  
