- javascript %w(jquery/jquery.ui.custom.min.js accounts.js voucher_templates.js)

= simple_form_for @voucher_template do |f|
  .fields
    = f.input :name
    = f.input :description
    = f.input :template_type, :collection=>{t("activerecord.attributes.voucher_template.template_type_0")=>0, t("activerecord.attributes.voucher_template.template_type_1")=>1}, :prompt=>false, :hint=>t('hints.voucher_template.template_type')
  .fields
    = f.input :valid_from
    = f.input :valid_to
    %p.hint{:style=>"clear:both"}= t('hints.voucher_template.valid_fields')

  .clear
  %div
    %strong= t('activerecord.attributes.voucher_template.input_fields')
    %p.hint= t('hints.voucher_template.input_fields')
    %table
      %tr
        %th= t('activerecord.attributes.voucher_template.name') 
        %th= t('activerecord.attributes.voucher_template.description') 
        %th= t('activerecord.attributes.voucher_template.script_name') 
        %th
      = f.simple_fields_for :input_fields do |fi|
        = render 'input_field_fields', :f=>fi
    =link_to_add_fields "L채gg till f채lt", f, :input_fields, "table"
  .clear
  %div
    %strong= t('activerecord.attributes.voucher_template.output_fields')
    %p.hint= t('hints.voucher_template.output_fields')
    %table
      %tr
        %th= t('activerecord.attributes.voucher_template.account') 
        %th= t('activerecord.attributes.voucher_template.formula') 
        %th= t('activerecord.attributes.voucher_template.script_name')
        %th
      = f.simple_fields_for :output_fields do |fo|
        = render 'output_field_fields', :f=>fo
    =link_to_add_fields "L채gg till f채lt", f, :output_fields, "table"
  .actions
    = f.submit 'Save'


-# Javascripts for output fields
- ActiveRecord::Base.include_root_in_json = false
:javascript
  var accounts = #{Account.order("number").map { |a| {
    :number=>a.number,
    :name=>a.name,
    :account_type=>a.account_type,
    :has_arrangements=>a.has_arrangements?,
    :type=>'account',
    :activity_year=> a.activity_year.year
    }
  }.to_json
  }

