%h1 Journal

#journal
  %table
    %thead
      %tr
        %th= t 'activerecord.attributes.journal.created_at'
        %th= t 'activerecord.attributes.journal.object'
        %th= t 'activerecord.attributes.journal.user'
        %th= t 'activerecord.attributes.journal.api_key'
        %th= t 'activerecord.attributes.journal.message'
    %tbody
      - @journal_entries.each do |entry|
        %tr.journal_entry
          %td= l entry.created_at, :format=>:default
          %td
            - begin
              = link_to entry.object.to_s, entry.object
            - rescue NoMethodError
              = entry.object.to_s

          %td= link_to entry.user.to_s, entry.user
          %td
            - if entry.api_key
              = link_to entry.api_key.to_s, entry.api_key
            - else
              \-
          %td.message
            %pre= entry.message

  = paginate @journal_entries

:javascript
  $(function() {
    $(".journal_entry").click(function() {
      pre = $(this).find("pre")
      status = pre.data("status")
      if(status === undefined)
        status = false

      height = pre.data("height")
      if(height === undefined)
        pre.data("height", pre.css("height"))

      if(status === false) {
        pre.css("height", "100%")
        pre.css("overflow", "auto")
      } else {
        pre.css("height", height)
        pre.css("overflow", "hidden")
      }
      pre.data("status", !status)
    })
  })
