#report
  %p.timestamp
    %span.date= format_date(Time.now)
    %br
    %span.date= I18n.l Time.now, :format=>:short_time

  %h3 Kontorapport
  %p.conditions
    %p
      = @organ unless @organ.nil?
      = @series[0] if @series.count == 1
    %p.date
      Datum:
      = format_date @activity_year.starts
      \-
      = format_date @activity_year.ends
  - total_kredit = 0
  - total_debet = 0
  %table
    %tr
      %th Konto
      %th Ingående
      %th Debet
      %th Kredit
      %th Utgående
    - @rows.group_by(&:account).sort_by{|account,r| account.number }.each do |account,account_rows| 
      %tr
        %tr
          %td= account
          %td= currency_clean account.ingoing_balance
          - kredit = 0
          - debet = 0
          - account_rows.each do |row|
            - kredit += row.kredit(0)
            - debet += row.debet(0)
          %td= currency_clean debet
          %td= currency_clean kredit
          %td= currency_clean (account.ingoing_balance + debet - kredit)
        - total_kredit += kredit
        - total_debet += debet
    %tr
      %td{:colspan=>2} Totalt
      %td= currency_clean total_debet
      %td= currency_clean total_kredit
      %td= currency_clean (total_debet-total_kredit)
