#report
  = render "report_header"
  %table
    %tr
      - unless @hide_arrangement
        - arrangement_width = 1
        %th Arrangemang
      - else
        - arrangement_width = 0

      %th Konto
      %th Ingående
      %th Debet
      %th Kredit
      %th Förändring
      %th Utgående
    - organ = nil
    - @report.arrangement_reports.each do |arrangement_report|
      - unless @hide_arrangement
        - arrangement = arrangement_report.arrangement
        - if organ != nil && ( arrangement == nil || arrangement[:organ] != organ )
          %tr
            %td{:colspan=>3+arrangement_width}
              %strong Totalt förändring (#{organ})
            %td= currency_clean @report.organ_summary[organ][:total_debet]
            %td= currency_clean @report.organ_summary[organ][:total_kredit]
            %td= currency_clean @report.organ_summary[organ][:balance_difference]
          %tr
            %td{:colspan=>6+arrangement_width} &nbsp;
          - organ = arrangement[:organ]
        - elsif arrangement != nil && arrangement[:organ] != organ
          - organ = arrangement[:organ]


        - arrangement = arrangement.nil? ? "Tillgångs och skuldkonton" : "#{arrangement[:organ]} - #{arrangement[:name]}"
        %tr
          %td{:colspan=>6}
            %strong= arrangement
      - arrangement_report.account_group_reports.each do |account_group_report|
        - account_group_report.account_reports.each do |account_report|
          %tr
            - unless @hide_arrangement
              %td
            %td #{account_report.account[:number]} #{account_report.account[:name]}
            %td= currency account_report.ingoing_balance
            %td= currency_clean account_report.total_debet
            %td= currency_clean account_report.total_kredit
            %td= currency_clean account_report.balance_difference
            %td= currency_clean account_report.outgoing_balance
      %tr
        - unless @hide_arrangement
          %td
        %td{:colspan=>3 }
          %strong Förändring i perioden
        %td= currency_clean arrangement_report.total_debet
        %td= currency_clean arrangement_report.total_kredit
        %td= currency_clean arrangement_report.balance_difference
      %tr
        %td{:colspan=>6+arrangement_width} &nbsp;
    %tr
      %td{:colspan=>3+arrangement_width}
        %strong Totalt förändring
      %td= currency_clean @report.total_debet
      %td= currency_clean @report.total_kredit
      %td= currency_clean @report.balance_difference
