!!! 
- render :partial => "layouts/#{controller.sub_layout}"
%html
  %head
    %title= render_title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name=>"author", :content=>"Andreas Tarandi"}
    %meta{:name=>"author", :href=>"http://#{request.host}/humans.txt"}
    %meta{:name=>"description",:content=>""}

    = stylesheet_link_tag 'jquery-ui.css'
    = stylesheet_link_tag 'sticky'
    = stylesheet_link_tag 'screen'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "jquery/jquery.min.js"
    = javascript_include_tag 'jquery_ujs.js'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{Mage::Application.settings[:google_analytics]}"]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    

    = yield(:head)

    = csrf_meta_tag
  %body
    = render :partial => 'menus/session'
    = render :partial => 'menus/apps'
    #root
      %header.main
        %h1.title= link_to "MAGE", root_url
        =image_tag "merlin2.png"
        #main_menu
          - if user_signed_in? && current_user.has_access?
            = render_navigation(:level=>1)
          .clear
      #sub
        = yield(:serie)
        %nav#sub_menu.horizontal
          - if user_signed_in? && current_user.has_access?
            = render_navigation(:level=>2)
        .clear
      %section.clearfix#content
        - if flash[:notice]
          %div.flash.notice
            = flash[:notice]
        - if flash[:error]
          %div.flash.error
            = flash[:error]

        = yield(:content)
    %footer.main
      :textile
        Kontakta "kassören":mailto:kassor@d.kth.se vid frågor. Skapad av "Andreas Tarandi":http://www.datasektionen.se/people/taran 2011. För att rapportera eventuella buggar, klicka "här":https://github.com/datasektionen/mage/issues/new.
