!!! 
%html
  %head>
    %title= render_title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name=>"author", :content=>"Andreas Tarandi"}
    %meta{:name=>"author", :href=>"http://#{request.host}/humans.txt"}
    %meta{:name=>"description",:content=>""}

    = stylesheet_link_tag 'screen'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "jquery/jquery.min.js"

    = yield(:head)

    = csrf_meta_tag
  %body
    #main
      .header
        = render :partial => "partials/user_box"
        = top_navigation_link 'accounting', "Bokföring", @menu
        = top_navigation_link 'reports', "Rapporter", @menu
        = top_navigation_link 'administration', "Administrera", @menu

       - @menu = "main" if !@menu.present?
       = render :partial=>"menus/#{@menu}" # Render submenu
        .clear
      #page
        .body
          .content
            - if flash[:notice]
              %div.notice
                = flash[:notice]
            - if flash[:error]
              %div.error
                = flash[:error]

            = yield
        .clear
        .footer
          = footer_content
