!!! 
%html
  %head>
    %title= render_title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name=>"author", :content=>"Andreas Tarandi"}
    %meta{:name=>"author", :href=>"http://#{request.host}/humans.txt"}
    %meta{:name=>"description",:content=>""}

    = javascript_include_tag 'rails'
    = stylesheet_link_tag 'less'
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'sticky'
    = stylesheet_link_tag 'jquery-ui.css'
    = stylesheet_link_tag 'screen'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "jquery/jquery.min.js"

    = yield(:head)

    = csrf_meta_tag
  %body
    #root
      = render :partial => 'menus/session'
      = render :partial => 'menus/apps'
      .header
        = top_navigation_link 'accounting', "Bokföring", @menu
        = top_navigation_link 'reports', "Rapporter", @menu
        = top_navigation_link 'administration', "Administrera", @menu
       
      - @menu = "main" if !@menu.present?
      = render :partial=>"menus/#{@menu}" # Render submenu
      .clear
      #page
        .body
          .content
            - if flash[:notice]
              %div.flash.notice
                = flash[:notice]
            - if flash[:error]
              %div.flash.error
                = flash[:error]

            = yield
        .clear
        .footer
          :textile
            Kontakta "kassören":mailto:kassor@d.kth.se vid frågor. Skapad av "Andreas Tarandi":http://www.datasektionen.se/people/taran 2011. För att rapportera eventuella buggar, klicka "här":https://github.com/datasektionen/mage/issues/new.
