%tr
  %td= f.input :number, :label=>false, :input_html=>{:style=>"width: 50px;text-align: right"}, :disabled=>!f.object.allow_destroy?
  %td= f.input :name, :label=>false
  %td= f.association :account_group, :label=>false, :include_blank=>false, :label_method=>:to_s
  %td= f.input :ingoing_balance, :label=>false, :input_html=>{:style=>"text-align: right"}
  %td= f.input :debet_is_normal, :label=>false, :input_html=>{:class=>"debet_is_normal_#{f.object.account_group_id}"}
  %td= f.input :kredit_is_normal, :label=>false, :input_html=>{:class=>"kredit_is_normal_#{f.object.account_group_id}"}
  %td= link_to_remove_field image_tag("icons/cross.png", :alt=>'delete'), f, ["td", "tr"] if f.object.allow_destroy?
