%h3 Redigerar kontoplan för #{@activity_year.to_s}
%p
  Inga ändringar sparas innan du trycker "spara"
%p.info
  Endast oanvända konton och kontogrupper kan raderas

= simple_form_for @activity_year, :url=>edit_activity_year_accounts_path(@activity_year), :method=>:put do |f|
  #account_groups
    = f.simple_fields_for :account_groups do |fa|
      = render 'account_group_fields', :f=>fa
  =link_to_add_fields "Lägg till kontogrupp", f, :account_groups, "#account_groups"

  .actions
    = f.submit "Spara ändringar"

