%tr.voucher_row_form
  %td.account_number
    %span= form_row.account.number
    = hidden_field_tag "voucher[row][][account]", form_row.account.id
  %td.account_name
    %span= form_row.account.name
  %td.arrangement
    %span= form_row.arrangement
    = hidden_field_tag "voucher[row][][arrangement]", form_row.arrangement_id
  %td.debet
    %span= form_row.sum > 0 ? form_row.sum : ""
    = hidden_field_tag "voucher[row][][sum]", form_row.sum
  %td.kredit
    %span= form_row.sum < 0 ? form_row.sum : ""
