#voucher_data
  -if voucher.corrected?
    %p.voucher_corrected
      %strong Rättat av
      %span= link_to voucher.corrected_by.pretty_number, voucher_path(voucher.corrected_by)
  -if voucher.corrects?
    %p.voucher_corrects
      %strong Rättar
      %span= link_to voucher.corrects.pretty_number, voucher_path(voucher.corrects)
  %p
    %strong Underlag från:
    %span= voucher.material_from
  %p
    %strong Bokfört av:
    %span= voucher.bookkept_by
  %p
    %strong Utlägg godkänt av:
    %span= voucher.authorized_by
%table.voucher_rows
  %thead
    %tr
      %th.account_number Konto
      %th.account_name Kontonamn
      %th.arrangement Arrangemang
      %th.debet Debet
      %th.kredit Kredit
      %th.changed Ändrad
  %tbody
    - voucher.voucher_rows.each do |vr|
      -cancel_class = vr.canceled? ? "canceled" : ""
      %tr.voucher_row
        %td.account_number{:class=>cancel_class}
          %span= vr.account.number
        %td.account_name{:class=>cancel_class}
          %span= vr.account.name
        %td.arrangement{:class=>cancel_class}
          %span= vr.arrangement
        %td.debet{:class=>cancel_class}
          %span= currency(vr.debet)
        %td.kredit{:class=>cancel_class}
          %span= currency(vr.kredit)
        %td
          - unless vr.signature.nil?
            %span.date= format_date(vr.updated_at)
            ! -
            %span= link_to vr.signature.initials, user_path(vr.signature)
  %tfoot
    %tr
      - if not defined?(foot)
        %td{:colspan=>4}
        %td Omslutning:
        %td#enfoldment #{voucher.enfoldment} kr
      - else
        - foot_colspan ||= 2
        %td{:colspan=>6-foot_colspan}
        %td{:colspan=>foot_colspan}= foot
