.voucher_data
  -if defined?(show_links) && show_links
    - show_delete = defined?(show_delete) && show_delete
    %p.voucher_links
      -#if show_delete
      = link_to("Radera", voucher_path(voucher), :method=>:delete, :confirm=>"Är du säker?")
      |
      = link_to("Redigera", edit_voucher_path(voucher))
      |
      = link_to("Visa", voucher_path(voucher))
    = render 'vouchers/voucher_info', :voucher=>voucher
%table.voucher_rows
  %thead
    %tr
      %th.account_number Konto
      %th.account_name Kontonamn
      %th.arrangement Arrangemang
      %th.debet Debet
      %th.kredit Kredit
      %th.changed Ändrad
  %tbody
    - voucher.voucher_rows.each do |vr|
      -cancel_class = vr.canceled? ? "canceled" : ""
      %tr.voucher_row
        %td.account_number{:class=>cancel_class}
          %span= vr.account.number
        %td.account_name{:class=>cancel_class}
          %span= vr.account.name
        %td.arrangement{:class=>cancel_class}
          %span= vr.arrangement
        %td.debet{:class=>cancel_class}
          %span= currency(vr.debet)
        %td.kredit{:class=>cancel_class}
          %span= currency(vr.kredit)
        %td
          - unless vr.signature.nil?
            %span.date= format_date(vr.updated_at)
            ! -
            %span= link_to vr.signature.initials, user_path(vr.signature)
  %tfoot
    %tr
      - if not defined?(foot)
        %td{:colspan=>4}
        %td Omslutning:
        %td#enfoldment #{voucher.enfoldment} kr
      - else
        - foot_colspan ||= 2
        %td{:colspan=>6-foot_colspan}
        %td{:colspan=>foot_colspan}= foot
