- # Partial for creating voucher rows. Should be inside a form
- javascript %w(jquery/jquery.form.js jquery/jquery.ui.custom.min.js)
- javascript %w(accounts.js voucher.js templates.js)

%h4 Lägg till rad
= f.fields_for :add_row do |r|

  %fieldset#templates_fieldset
    %legend
      = t 'templates'
      = link_to(image_tag('icons/add.png'),'#',:id=>"expand_templates")
      = link_to(image_tag('icons/delete.png'),'#',:id=>"hide_templates",:style=>"display:none")
    #templates{:style=>"display:none"}
      %p.input
        = r.label "Mall", :required=>false
        = r.select :template, options_from_collection_for_select(VoucherTemplate.in_year(current_activity_year.year), :id, :name), include_blank: true
      #template_fields.clear



  %p.input
    = r.label "Konto", :required => false
    = r.text_field :account, :size=>5
  %p.input
    = r.label "Arrangemang", :required => false
    = r.select :arrangement, options_from_collection_for_select(@voucher.organ.arrangements.in_year(current_activity_year.year),:id, :list_print), {}, :disabled=>true, :class=>"arr_select"
  %p.input.money
    = r.label "Summa (kr)", :required => false
    = r.text_field :sum, :size => 20
    %p#spinner.input{:style=>"display: none"}
      = image_tag 'ajax-loader.gif', :class=>:spinner
  .clear
  %p#voucher_info

  %hr
  %table#voucher_rows
    %thead
      %tr
        %th.account_number Konto
        %th.account_name Kontonamn
        %th.arrangement Arrangemang
        %th.debet Debet
        %th.kredit Kredit
        %th.signature
        %th.actions
    %tbody
      = render :partial=>"form_row", :collection=>@voucher.voucher_rows
    %tfoot
      %tr
        %td{:colspan=>3}
        %td Diff:
        %td#diff= currency(@voucher.sum)
        %td
        %td

%hr
-if @voucher.id.nil? || @voucher.bookkept?
  = f.submit
- else
  = f.submit :value => t('helpers.submit.bookkeep')

- ActiveRecord::Base.include_root_in_json = false
/ Below is data for javascript
:javascript
  var bookkept = #{@voucher.bookkept?}
  var voucher_id = #{@voucher.id ? @voucher.id : -1}
  set_diff(#{@voucher.sum})

  var accounts = #{(current_activity_year.accounts.order("number").map { |a| {:number=>a.number,:name=>a.name,:debet_is_normal=>a.debet_is_normal, :kredit_is_normal=>a.kredit_is_normal, :has_arrangements=>a.has_arrangements?, :type=>'account'} }+
                    VoucherTemplate.in_year(current_activity_year.year).singlerow.map { |t| {:number=> "Mall #{t.id}", :name=>t.name, :type=>'template', :has_arrangements=>t.has_arrangements?(current_activity_year.id), :id=>t.id, :kredit_is_normal=>true, :debet_is_normal=>true} }).to_json }

  var voucher_row_url = "#{rows_vouchers_path}"
  var template_fields_url = "#{fields_voucher_templates_path}"
  var template_parse_url = "#{parse_voucher_templates_path}"
  var arrs = #{Organ.all.reduce(Hash.new) {|h,o| h[o.id] = o.arrangements.in_year(current_activity_year.year).select([:id,:number,:name]) ; h }.to_json}
  var num_rows = #{@voucher.voucher_rows.size}
  var user_initials = "#{current_user.initials}"
  var activity_year_id = #{current_activity_year.id}

/ Signature, use in javascript
#signature{:style=>"display:none"}
  %span.date= format_date(Time.now)
  ! -
  %span= link_to current_user.initials, user_path(current_user)
