- voucher = voucher_list_row
.voucher
  .short
    %span.select= check_box_tag "vouchers[]", voucher.id, false, :class=>"voucher_select"
    %span.number{:numerical_value=>voucher.number}= voucher.pretty_number
    %span.accounting_date.date= format_date(voucher.accounting_date)
    %span.title{:title=>voucher.title}
      = truncate(voucher.title,:length=>26)
    %span.organ= voucher.organ
    - if use_long_format
      %span.correcting
        -if voucher.corrected?
          Rättat av
          =link_to voucher.corrected_by.pretty_number, voucher_path(voucher.corrected_by)
        -if voucher.corrects?
          Rättar
          = link_to voucher.corrects.pretty_number, voucher_path(voucher.corrects)
    %span.enfoldment.money{:numerical_value=>voucher.enfoldment}= currency(voucher.enfoldment)
  .full{:style=>"display:none"}
    %hr
    = render :partial=>voucher, :locals=>{:show_links=>true}
