%h3 Redigerar verifikat #{@voucher.pretty_number}
%p#voucher_link= link_to "Till verifikatet", voucher_path(@voucher)

= render :partial => 'voucher_info', :object=>@voucher

- Rails.logger.debug @voucher.errors.inspect

= simple_form_for @voucher do |f|
  = f.error :base
  #voucher_head_form
    = f.input :title, :size=>20, :required => false
    .clear

  = render :partial => "voucher_form", :locals=>{:f=>f}

:javascript
  $(function() {
    $("#voucher_organ_id").change(organ_changed)
  })
