%h3 Nytt verifikat

= simple_form_for @voucher do |f|
  #voucher_head_form
    = f.input :title, :size=>20
    = f.association :organ, :prompt => "Ingen nämnd", :default => current_serie.default_organ
    = f.input :accounting_date, :as => :date, :add_month_numbers=>true
    .clear
    = f.button :submit

