%h3 Nytt verifikat

= simple_form_for @voucher do |f|
  = f.error :base
  - if @voucher.corrects?
    #voucher
      %strong Rättar verifikat
      %span= link_to @voucher.corrects, voucher_path(@voucher.corrects), :target=>:_blank
      = f.input :corrects_id, :as=>:hidden

  = f.input :series_id, :collection=>Series.all, :include_blank=>false, :label_method=>:to_s

  = f.input :activity_year_id, :as=>:hidden

  #voucher_head_form
    = f.input :title, :size=>20, :required => false
    = f.association :organ, :include_blank => false, :required => false
    = f.input :accounting_date, :as => :date, :add_month_numbers=>true, :required => false
    .clear

  = render :partial => "voucher_form", :locals=>{:f=>f}

:javascript
  $(function() {
    $("#voucher_organ_id").change(organ_changed)
  })
