%h3 Nytt verifikat

= simple_form_for @voucher do |f|
  - #Hidden fields
  = f.input :serie_id, :as=>:hidden
  = f.input :activity_year_id, :as=>:hidden

  #voucher_head_form
    = f.input :title, :size=>20, :required => false
    = f.association :organ, :include_blank => false, :required => false
    = f.input :accounting_date, :as => :date, :add_month_numbers=>true, :required => false
    - if @voucher.number
      = f.input :number, :required => false
    .clear

  = render :partial => "voucher", :locals=>{:f=>f}

