%h3 Verifikat #{@voucher.pretty_number} - #{@voucher.title}
%p#voucher_links
  = link_to "Redigera", edit_voucher_path(@voucher)
  = link_to "Skapa rättningsverifikat", new_voucher_path(:correct=>@voucher.id) unless @voucher.corrected?
#voucher
  .voucher_data
    %p.voucher_date
      %strong Transaktionsdatum:
      %span.date= format_date(@voucher.accounting_date)
    %p
      %strong Nämnd:
      %span= @voucher.organ.name
    %p 
    = render 'voucher_info', :voucher=>@voucher
  = render @voucher
