%h3 Verifikat #{@voucher.pretty_number} - #{@voucher.title}
%p#voucher_link= link_to "Redigera", edit_voucher_path(@voucher)
= render :partial=>'voucher_info', :object=>@voucher
%hr
= render @voucher
