%h3 Verifikat #{@voucher.pretty_number} - #{@voucher.title}
%p#voucher_links
  = link_to "Redigera", edit_voucher_path(@voucher)
  = link_to "Skapa rättningsverifikat", new_voucher_path(:correct=>@voucher.id) unless @voucher.corrected?
  = link_to "Skriv ut verifikat", print_vouchers_path(:format=>:pdf, :vouchers=>@voucher.id), :class=>"icon print"
#voucher
  .voucher_data
    - if !@voucher.stagnated?
      %p
        %strong Verifikatet är fortfarande nytt, och stagnerar om #{@voucher.minutes_until_stagnation} minuter

    %p.voucher_date
      %strong Transaktionsdatum:
      %span.date= format_date(@voucher.accounting_date)
    %p
      %strong Nämnd:
      %span= @voucher.organ.name
    %p
    = render 'voucher_info', :voucher=>@voucher
  = render @voucher
